<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Luke</h2>
                <hr class="light">
	    </div>
            <div class="col-lg-6 col-lg-offset-1 text-center">
		    <p class="text-faded">I'm an IT professional who has a keen interest with all things Cloud, Virtualisation, Agile and Devops. Currently living in Milton Keynes, UK after leaving Brisbane, Australia in 2008 to do a spot of traveling. </p>
		    <p class="text-faded">I've got a Bachelor of Information Technology (Data Communications & Information Systems) from Queensland University of Technology alongside VMware VCP4 & 5 certifications.
		</br></br>
		I enjoy traveling and the outdoors, and try to get out as much as possible!</p>
	    </div>
            <div class="col-lg-3 col-lg-offset-0 text-center">
	       <img src="img/me.jpg" alt="thats me." class="img-thumbnail">
            </div>
        </div>
    </div>
    </br></br></br></br>
    </br></br></br></br>
    </br></br></br></br>
</section>
